services:
  arm_ros:
    build:
      context: ./testing
    container_name: ros_moto
    ports:
      - 3030:3030
    stdin_open: true
    tty: true
    privileged: true
    volumes:
      - ./:/orientation_server
    environment:
      - ROS_VERSION=2
      - ROS_PYTHON_VERSION=3
      - ROS_DISTRO=humble
    network_mode: host
